.img {
    height: 327px;
    background-image: url("../../../image/header/header-partenariat.png");
    border-bottom: 2px white solid;
}

.section-partenariat{
    height: 1247px;
    background: transparent linear-gradient(270deg, #004C6E 0%, #001224 100%) 0 0 no-repeat padding-box;
}

.title {
    margin: 66px auto 247px;
    width: 900px;
}

.venir h1{
    text-transform: uppercase;
    font-size: 80px;
    font-family: Nexa-Light, sans-serif;
    font-weight: 300;
    color: #00BAFF;
    line-height: 99px;
    letter-spacing: 1rem;
    margin: auto;
    width: 450px;
}

.title h1 {
    font-family: Nexa-Light, sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 8px;
    color: white;
    text-transform: uppercase;
}

.title h1 span {
    font-family: Nexa-Bold, sans-serif;
    font-weight: bold;
}