{% extends 'base.html.twig' %}

{% block title %}
    Xunidesign - Graphisme d'animation
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/templates/service/graphisme-entreprise.css') }}">
    <link rel="stylesheet" href="{{ asset('css/templates/layout/presentation-service.css') }}">
    <link rel="stylesheet" href="{{ asset('css/templates/service/layout-service.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
    <section class="animation img"></section>
    <section class="section-first-presentation-service">
        {% include "layout/layout-presentation-services.html.twig" %}
    </section>
    <section class="section-service">
        <div class="container overflow-a">
            <article class="title title-perso d-flex justify-between align-items-baseline">
                <div class="element rotate-X">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1>prix <span>services</span></h1>
                <div class="element rotate rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            {{ render(controller('App\\Controller\\ServicesController::getServicePrice',{'id':3})) }}
            <article class="bottom d-flex justify-end">
                {% include "layout/layout-buttom-for-top.html.twig" %}
            </article>
        </div>
    </section>
{% endblock %}