{% extends 'admin/base.html.twig' %}

{% block title %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/templates/admin/exclusivite/exclusivite.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ asset('js/exclusivite/exclusivite.js') }}"></script>
{% endblock %}

{% block main %}
    <section class="liste-titre">
        {% for exclusivite in exclusivites %}
        <article class="article-flex">
            <img class="" src="{{ asset(exclusivite.img) }}">
            <h3>{{ exclusivite.title }}</h3>

            <div class="position flex">
                <button class="pen-to-square-buttom">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button class="trash-buttom">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </article>
        {% endfor %}
    </section>
{% endblock %}