{% extends 'admin/base.html.twig' %}

{% block title %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
    <div class="d-flex row-wrap">

        <section></section>
        <section></section>
        <section></section>
    </div>
{% endblock %}