{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/templates/xunidesign/xunidesign.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
    <section class="section_img"></section>
    <section class="section_first_xunidesign">
        <div class="container overflow">
            <article class="title-xunidesign d-flex justify-between align-items-baseline">
                <div class="element rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1 class="presentation">chartre <span>graphique</span></h1>
                <div class="element">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="container box-biographie d-flex justify-start row-wrap">
                <div class="block-chartre">
                    <div class="polygon-box-chartre">
                        <div></div>
                    </div>
                    <div class="info-chartre-graphique">
                        <img src="{{ asset('image/presentation/chartre-graphique-xunidesign.png') }}" alt="chartre-graphique-xunidesign.png">
                        <div class="couleur-block">
                            <p>couleurs <span>utilisé</span></p>
                            <div class="color-flex parti-1">
                                {% for i in 1..4 %}
                                    <div></div>
                                {% endfor %}
                            </div>
                            <p>dégrader <span>utilisé</span></p>
                            <div class="color-flex parti-2">
                                {% for i in 1..2 %}
                                    <div></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="section_second_xunideisgn overflow-a">
        <div class="container">
            <article class="conteneur experience-logiciel d-flex row-wrap justify-between align-items-baseline">
                <div class="element rotate-X">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1 class="presentation-projet">description <span>xunidesign</span></h1>
                <div class="element rotateX-rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="box-logiciel overflow-a">
                <p><span>xunidesign</span> a été crée, le 21 septembre 2021</p>
                <p>cette entreprise est spécialisée dns le graphisme design gaming et entreprise.</p>
                <p>les services proposées ont le potentiel de réalisé des projets <span>uniques</span> et <span>personaliser</span></p>
                <p>les compétences sur les logiciels adobe (illustrator, photoshop, after effect) sont maîtrsées professionnelement pour réaliser le(s) projet(s).</p>
            </article>
            <article class="carte-de-visiste overflow-a">
                <img src="{{ asset('image/presentation/carte-de-visiste.png') }}" alt="carte-de-visite.png">
            </article>
            <article class="mt-perso d-flex justify-end">
                {% include "layout/layout-buttom-for-top.html.twig" %}
            </article>
        </div>
    </section>
{% endblock %}