<div class="container overflow-a">
    <article class="title d-flex justify-between align-items-center">
        <div class="element rotateY">
            <hr>
            <hr>
            <hr>
        </div>
        <h1>presentation <span>services</span></h1>
        <div class="element">
            <hr>
            <hr>
            <hr>
        </div>
    </article>
    <article class="sous-title d-flex justify-between row-wrap align-items-center">
        <div class="box-info">
            <h3 class="interesse">si vous êtes intéressé par un ou plusieurs services, cliquez sur le bouton <span>contact</span> !</h3>
            <div class="polygon-box"></div>
        </div>
        <a href="{{ path('contact') }}" class="contact">contact</a>
    </article>
</div>