<!DOCTYPE html>

<html lang="fr-fr">

<head></head>
<body>
    <header>
    </header>
    <main>
        <section>
            <h1>Bonjour {{ contact.pseudo }}</h1>

            <p>{{ contact.raison }}</p>
            <br>
            <p>{{ contact.message }}</p>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>